<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>building...</title>
  </head>
  <body>
    <div id="app"><a href="/">back homepage</a><br />building... wait a second. </div>
    <script src="./static/js/react.production.min.js"></script>
    <script src="./static/js/react-dom.production.min.js"></script>
    <script>
      function initPage(title) {
        document.title = title;
      }
    </script>
  </body>
</html>
